<div class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 100vh;">
  <div class="w-50">
    <%= render "form" %>

    <div class="text-center mt-3">
      <%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-outline-secondary btn-lg" %>
    </div>
  </div>
</div>
