<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :select, collection: 0..5, include_blank: false, label: "Rating (0 to 5)" %>
  <%= f.button :submit, "Submit Review", class: "btn btn-primary" %>
<% end %>
